build/
debug/
release/

moc_*.cpp
qrc_.cpp
ui_*.cpp

*.pro.user
*.pro.user.*
*.creator.user
*.creator.user.*

data/
*.db
*.sqlite
*.sqlite3

*.o
*.obj

*.gch
*.pch

*.dll
*.exe
*.so
*.dylib
*.a
*.lib
*.app

.vscode/
.idea/
*.suo
*.ntvs*

*.DS_Store

Thumbs.db